.feature__heading {
  color: $color-light-grey-1 !important;
}

.feature__container {
  display: flex;
  //flex-wrap: wrap;
  max-width: $grid-width;
  margin: 0 auto;
  padding: 0 5rem; 
  gap: 2rem;

  @include respond(tab-land) {
    flex-wrap: wrap;
  }

  .feature {
    width: 25%;
    @include respond(tab-land) {
      width: 48%;
    }

    @include respond(phone) {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}

.feature-box {

  background-color: rgba($color-white, .8);
  font-size: 1.7rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  transition: all .2s;

  h3 {
    font-size: 1.7rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__icon {
    font-size: 6rem;
    padding-bottom: .5rem;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }
  &:hover {
    transform: translateY(-.5rem) scale(1.05);
  }

  &__text {
    font-size: 1.5rem;

    @include respond(phone) {
      font-size: 1.8rem;
    }
  }
}